{% extends "loggedInTemplate.html" %}

{% block title %}
About
{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/css/card.css" type="text/css">

<style>
</style>
{% endblock %}

{% block body %}
<center>
    <br>
    <div class="card large-6">
        <div class="content">
            <span class="title"> About </span>
        </div>
        <div class="action">
            <div class="row results">
                <div class="large-12 columns ">
                    The Magic Music Matcher allows you to find similar popular songs from around the world. You will be able to diversify your playlist by getting unique songs from different areas of the world. Our unique algorithm takes into consideration aspects of songs, such as timbre, tempo, and pitch to suggest musically similar, but geographically different songs for you to listen to. You will have the ability to choose from many countries and browse through their popular songs. On top of having access to modern popular songs, you can search for your personal favorite tunes and look for similar songs using the same matching algorithms. Music is a major key to success, and The Music Thing will find you all the keys
                </div>
            </div>
        </div>
    </div>
</center>

{% endblock %}
