<!DOCTYPE html>
<html>
<head>



      <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/foundation/4.2.3/css/foundation.min.css">



      <script type="text/javascript" src="https://raw.github.com/zurb/foundation/master/js/foundation/foundation.js"></script>



  <style type="text/css">
    .ui-helper-hidden-accessible {
  display: none
}

  </style>

  <title></title>







<script type='text/javascript'>//<![CDATA[
window.onload=function(){
$('.ui-autocomplete').addClass('f-dropdown');

}//]]>

</script>


</head>

<body>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
  $(function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $("#tags").autocomplete({
      source: availableTags
    });
  });

</script>


<div class="row">
  <form class="custom">
    <fieldset>
      <legend>Fieldset</legend>
      <div class="row">
        <div class="large-12 columns ui-widget">
          <label for="tags">Input Label</label>
          <input id="tags" type="text" placeholder="large-12.columns">
        </div>
      </div>
</div>

<script>
  document.write('<script src=' + ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') + '.js><\/script>')

</script>

<script>
  $(document).foundation();

</script>


  <script>
  // tell the embed parent frame the height of the content
  if (window.parent && window.parent.parent){
    window.parent.parent.postMessage(["resultsFrame", {
      height: document.body.getBoundingClientRect().height,
      slug: "0mzmrmum"
    }], "*")
  }
</script>

</body>

</html>

