{% extends "loggedInTemplate.html" %}

{% block head %}
<link rel="stylesheet" href="static/css/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
<script src="static/js/jquery-jvectormap-2.0.3.min.js"></script>
<script src="static/maps/jquery-jvectormap-world-mill.js"></script>

<style>


</style>
{% endblock %}

{% block body %}
<center>
    <div class="row large-12 columns">
        <div class="columns">
        <br>
        <h3> Select a country or search for a song to get started!</h3>

        <div id="world-map" style="width: 600px; height: 400px"></div>
        </div>


        <div class="medium-5 columns">
        </div>
    </div>

    <script>
// This function sets up the map and all of the responces to clicking
// #veryProud
$(function(){
    var map;
    map = new jvm.Map({
        map: 'world_mill', //set the map file
        container: $('#world-map'), //how to tag the map div
        regionsSelectable: true, // you can select regions
        regionsSelectableOne: true, // but only one

        //if a region is clicked
        onRegionClick: function(e, code){
            map.setFocus({region: code, animate: true}); //go to that region
            //console.log("region: " + code); //log it for debugging
        },

        //which region is selected for debugging
        onRegionSelected: function(){
            console.log(map.getSelectedRegions());
        },

        //set selectd region styling
        regionStyle: {
            selected: {
                fill: 'blue'
            }
        }
    });

});

//    map.container.click(function(e){
//        console.log("yolo");
//window.location.href = "http://google.com";
//    });
//});

    </script>
</center>
{% endblock %}
