{% extends "loggedInTemplate.html" %}

{% block head %}
<link rel="stylesheet" href="static/css/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="static/css/card.css" type="text/css">
<script src="static/js/jquery-jvectormap-2.0.3.min.js"></script>
<script src="static/maps/jquery-jvectormap-world-mill.js"></script>
<script src="static/js/funMapStuff.js"></script>


<style>
div.unclickable
{
    pointer-events: none;

    /* for "disabled" effect */
    opacity: 0.8;
    background: #CCC;
}
</style>
{% endblock %}

{% block body %}
<center>
    <br>
    <div class="row">
        <div class="medium-6 columns">
            <div class="card">
                <div class="content">
                    <span class=title">
                        Selected Country
                        <b><div id="chosenCountryName">Select a country or search for a song to get started!</div> </b>
                    </span>
                </div>
                <div class="action">
                    <div id="world-map" style="width: 520px; height: 350px"></div>
                    <br>
                    <div id="saveChosenSong"></div>
                    <div id="chosenSongTitle"></div>
                    <div id="chosenSongArtist"></div>
                </div>
            </div>
        </div>
        <div class="medium-6 columns">
            <div class="card">
                <div class="content">
                    <span class=title">
                        Generated Country
                        <b><div id="generatedCountryName">Select a country on the left or search for a song to get started!</div> </b>
                    </span>

                </div>
                <div class="action">
                    <div class="unclickable" id="world-map2" style="width: 520px; height: 350px"></div>
                    <br>
                    <div id="saveGeneratedSong"></div>
                    <div id="generatedSongTitle"></div>
                    <div id="generatedSongArtist"></div>
                </div>
            </div>
        </div>
    </div>

    <script>



// This function sets up the map and all of the responces to clicking
// #veryProud
$(function(){

    // This function is for testing map interation
    var modifyOther = function( e, code, otherMap ){
        otherMap.setFocus({region: code, animate: true}); //go to that region
        otherMap.clearSelectedRegions();
        otherMap.setSelectedRegions(code);
    };

    //the IDs for stuff about the songs
    var chosenSongIds = {
        'country' : "chosenCountryName",
        'title' : 'chosenSongTitle',
        'artist' : 'chosenSongArtist'
    };

    var generatedSongIds = {
        'country' : "generatedCountryName",
        'title' : 'generatedSongTitle',
        'artist' : 'generatedSongArtist'
    };
    // This function takes a country code and a dictionary of ids
    // and gets song info using ajax
    // and then puts that info on the page
    var post = function( e, code, country) {

        var input = { 'country' : country };

        // currently recieves: dictionary with one entry --> the uppercase of country name lol
        // should recieve: dictionary
        $.ajax({
            url: '/getSongAndInfo',
            type: 'GET',
            data: input,
            success: function( d ) {
                d = JSON.parse(d);
                modifyOther(e, d["generatedSongInfo"]["countryCode"], map2);


                // Creds to Rodda for helping me jQuerey-ifying things
                // save song buttons
                $('#saveChosenSong').html('<button value="' + d['chosenSongInfo']['title'] + '"type="button" class="success button">Save This Song</button>');
                $('#saveGeneratedSong').html('<button value="' + d['generatedSongInfo']['title'] + '"type="button" class="success button">Save This Song</button>');

                // put in song info
                $('#' + chosenSongIds['country']).html(d["chosenSongInfo"]['countryName']);
                $('#' + generatedSongIds['country']).html(d["generatedSongInfo"]['countryName']);
                $('#' + chosenSongIds['title']).html("Song Title: " + d["chosenSongInfo"]['title']);
                $('#' + generatedSongIds['title']).html("Song Title: " +  d["generatedSongInfo"]['title']);
                $('#' + chosenSongIds['artist']).html("Artist: " + d["chosenSongInfo"]['artist']);
                $('#' + generatedSongIds['artist']).html("Artist: " + d["generatedSongInfo"]['artist']);
            }
        });
        //console.log("did the ajax thing");
    };

    // interactive map
    var map;
    var map2;


    // interactive map
    map = new jvm.Map({
        map: 'world_mill', //set the map file
        container: $('#world-map'), //how to tag the map div
        regionsSelectable: true, // you can select regions
        regionsSelectableOne: true, // but only one

        //if a region is clicked
        onRegionClick: function(e, code){
            map.setFocus({region: code, animate: true}); //go to that region
            //console.log("region: " + code); //log it for debugging
            //get song info and put on page
            post(e,code,map.regions[code]["config"]["name"]);
        },

        //which region is selected for debugging
        onRegionSelected: function(){
            //console.log(map.getSelectedRegions());
        },

        //set selectd region styling
        regionStyle: {
            selected: {
                fill: 'blue'
            }
        }
    });

    //oooh so this is how you get the country name...
    /*
    var regionDictionary = "{"; //really just a string
       for (key in map.regions){
       console.log(key);
       console.log(map.regions[key]["config"]["name"]);
       regionDictionary += '"' + map.regions[key]["config"]["name"] + '":"' + key + '",';
       };
       console.log(regionDictionary);
       */

    // map2
    map2 = new jvm.Map({
        map: 'world_mill', //set the map file
        container: $('#world-map2'), //how to tag the map div
        regionsSelectable: true, // but only I can haha
        regionsSelectableOne: true, // and only one of course

        //set selectd region styling
        regionStyle: {
            selected: {
                fill: 'red'
            }
        }
    });

});

//    map.container.click(function(e){
//        console.log("yolo");
//window.location.href = "http://google.com";
//    });
//});

    </script>
</center>
{% endblock %}
