<!DOCTYPE html>
<!-- first line in child of this template should be  extends "masterTemplate.html" in { with % -->

<html lang="en">
    <head>
        <title>
            Magic Music Matcher
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="static/css/foundation.css">

        <style>
{% block inline_css %}
{% endblock %}
        </style>

        <script type="text/javascript" src="static/js/vendor/jquery.js"></script>

        <link rel="apple-touch-icon" sizes="57x57" href="static/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="static/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="static/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="static/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="static/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="static/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="static/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="static/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="static/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="static/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">

        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text">  <a href = "/"> Magic Music Matcher </a> </li>
                    {% block top_bar_left %}
                    {% endblock %}
                </ul>
            </div>
            <div class="top-bar-center">
                <ul class="menu">
                    {% block top_bar_center %}
                    {% endblock %}
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    {% block top_bar_right %}
                    {% endblock %}
                </ul>
            </div>
        </div>

        <section id="potato" data-magellan-target="potato">

            <div class="row">
                <div class="columns small-12">
                    {% block body %}
                    This is the body
                    {% endblock  %}
                </div>
            </div>
        </section>

        <!-- this will include every plugin and utility required by Foundation -->
        <script type="text/javascript" src="static/js/vendor/foundation.min.js"></script>
        <script>
$(document).foundation();
        </script>
    </body>
</html>
