<!DOCTYPE html>
<!-- first line in child of this template should be  extends "masterTemplate.html" in { with % -->

<html lang="en">
    <head>
        <title>
            Magic Music Matcher
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="static/css/foundation.css">

        <style>
        {% block inline_css %}
        {% endblock %}
        </style>
	
        <script type="text/javascript" src="static/js/vendor/jquery.js"></script>

	{% block head %}
	{% endblock %}
    </head>

    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <a href = "/"> <li class="menu-text">Magic Music Matcher</li> </a>
                    {% block top_bar_left %}
                    {% endblock %}
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    {% block top_bar_right %}
                    {% endblock %}
                </ul>
           </div>
        </div>

            <section id="potato" data-magellan-target="potato">

                <div class="row">
                    <div class="columns small-12">
                        {% block body %}
                        This is the body
                        {% endblock  %}
                    </div>
                </div>
            </section>

        <!-- this will include every plugin and utility required by Foundation -->
        <script type="text/javascript" src="static/js/vendor/foundation.min.js"></script>
        <script>
$(document).foundation();
        </script>
    </body>
</html>
