{% extends "loggedInTemplate.html" %}

{% block title %}
My Songs
{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/css/card.css" type="text/css">

<style>
</style>
{% endblock %}

{% block body %}
<center>
    <br>
    <div class="card large-6">
        <div class="content">
            <span class="title">  My Songs </span>
        </div>
        <div class="action">
            <div class="row results">
                <div class="large-12 columns ">
                    <div class="search-results">
                        {% if songList %}
                        {% for song in songList %}
                        <div class="row">
                            <div class=" small-9 columns">
                                <h4> {{ song["title"] }} </h4>
                                <b>Country: </b> {{ song["country"] }}
                                <br>
                                <b>Artist: </b> {{ song["artist"] }}
                            </div>
                            <div class= "small-3 columns">
                                <button name="playSong" value="{{ song["spotifyID"] }}" class="button radius" type="button">Play Song</button>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>

<script>
//////ASDFKJALSDFJASDLKJFASDJKFLSDKJFLASDJFASJDKFLASDJFLASJDF <----------play song code
$(document).on('click', '[name="playSong"]', function(){
    spotifyID = $(this).val();
    console.log(spotifyID); //debugging
    // SPOTIFY PLAYER DOES THINGS
});
</script>
{% endblock %}
